<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--
			1.列表显示 一旦有v-for最好是加一个key的属性,相当于加一个标识
			    数组：v-for/index
			    对象：v-for/key
			2.列表的更新显示
			    删除 item
			    替换 item
		    3.Vue 包含一组观察数组的变异方法，所以它们也将会触发视图更新：
			  push() 数组添加数据
			         var fruits = ["Banana", "Orange", "Apple", "Mango"];
			         fruits.push("Kiwi")
			  pop() 删除数组的最后一个元素并返回删除的元素
			        var fruits = ["Banana", "Orange", "Apple", "Mango"];
			        fruits.pop();
			  shift() 把数组的第一个元素从其中删除，并返回第一个元素的值
			          var fruits = ["Banana", "Orange", "Apple", "Mango"];
			          fruits.shift()
			  unshift() 向数组的开头添加一个或更多元素，并返回新的长度
			            var fruits = ["Banana", "Orange", "Apple", "Mango"];
			            fruits.unshift("Lemon","Pineapple");
			  splice() 用于添加或删除或修改数组中的元素
			  sort() 用于对数组的元素进行排序
			  reverse() 用于颠倒数组中元素的顺序
		-->
		<div id="demo">
			<ul>
				<li v-for="(item,index) in persons" :key="index">
					{{index}}--{{item.name}}--{{item.age}} ----
					<button @click="deletePer(index)">删除</button> ----
					<button @click="updatePer(index,{id: 'id_03',name: '张青竹',age: 29})">更新</button>
				</li>
			</ul>
			<ul>
				<li v-for="(item,key,index) in persons[1]" :key="key">
					{{item}}--{{key}}--{{index}}
				</li>
			</ul>
		</div>
		<script type="text/javascript">
			const vm = new Vue({
				el: "#demo",
				data: {
					//vue本身只是监视了persons的改变，没有监视数组内部数据的改变
					//vue重写了数组中的一系列改变数组内部数据的方法(1.调用原生的方法 ；2.更新界面)--->数组内部改变，界面自动更新
					persons: [{
						id: "id_01",
						name: "欧阳平",
						age: 26
					}, {
						id: "id_02",
						name: "张佳鑫",
						age: 27
					}]
				},
				methods: {
					//删除persons中下标为i的数据
					deletePer(i) {
						this.persons.splice(i, 1);
						alert('删除' + i)
					},
					//修改persons中下标为i的数据
					updatePer(i, obj) {
						//并未改变persons本身，只改了它内部的数据，并没有调用变异方法，vue不会更新界面
						//this.persons[i] = obj; 
						//修改数据，会更新界面； this.persons.splice(i, 0, obj)添加操作
						this.persons.splice(i, 1, obj);
						alert('更新' + i)
					}
				}
			});
		</script>
	</body>

</html>